@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  
  --color-background: #05070D;
  --color-deep-navy: #08111F;
  --color-primary-text: #F5F7FA;
  --color-secondary-text: #9AA4B2;
  --color-accent-blue: #4DA3FF;
  --color-accent-cyan: #6FE7FF;
  --color-accent-warm: #FFB86B;
  
  --color-border-glass: rgba(255,255,255,0.10);
  --color-bg-glass: rgba(255,255,255,0.05);

  --nav-h: 100px;
}

@layer base {
  html {
  }
  body {
    background-color: var(--color-background);
    color: var(--color-primary-text);
    overflow-x: hidden;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
